*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family: sans-serif; 
  background: url("back.jpg") center;
  filter:opacity(0.9);
}

h1{
  text-align: center;
  margin-bottom: 30px;
  color:#FF3F11;
  font-size:50px;
}

.row{
  width: 100%;
}

.container{
 position: relative;
 top:60px;
 margin: 15px; 
}

.item{
  position: relative;
  top: 0;
  background-color:#999999;
  margin: 15px;
  padding: 25px;
  border: 3px solid #000;
}

.item p{
  margin-top: 18px;
  text-align: justify;
  font-size:100%;
}

.item-title{
  position: absolute;
  top:0;
  right: 0px;
  padding: 5px 30px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

#title-one {
  background-color: #B4F311;
} 

#title-two{
  background-color: #F34B34;
}

#title-three{
  background-color: #E123F1;
}

/* Desktop */
@media (min-width: 992px){
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;  
  }
  .col-lg-1 {
    width: 11%;
  }
  .col-lg-2 {
    width: 22%;
  }
  .col-lg-3 {
    width: 33%;
  }
  .col-lg-4 {
    width: 44%;
  }
  .col-lg-5 {
    width: 55%;
  }
  .col-lg-6 {
    width: 66%;
  }
  .col-lg-7 {
    width: 77%;
  }
  .col-lg-8 {
    width: 88%;
  }
  .col-lg-9 {
    width: 99%;
  }
}


/* Tablet */
@media (min-width: 768px) and (max-width: 991px){
  .col-lg-3 {
    width: 50%;
    float: left;
  }
  .col-lg-tablet{
   width: 100%;
   float: left;
 }
}

/* Mobile */
@media (max-width: 767px){
  .col-lg-3{
    width: 100%;
    float: left;
  }
}